* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 2.25rem;
}

#gameboard {
    width: 100vw;
    height: 100vh;
    background-color:rgb(238, 238, 238);
}

.lightbox {
    transition:0.3s;
    position: absolute;
    top:0;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.scores {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 2;
}

.scorecard {
    padding: 0.5rem 1rem;
    border: 0.0625rem solid rgb(167, 174, 181);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
    border-radius: 0.5rem;
    width: 6rem;
    text-align: center;
}

.scorecard p,
.scorecard span {
    font-family: "comic sans MS", Arial;
}

.car {
    width: 1.5rem;
    height: 3rem;
    position: absolute;
    /* border-radius: 0.75rem; */
    transform-origin: center;
}

.car::after {
    content: "x_x";
    text-align: center;
}

.dot {
    width: 1.5rem;
    height:1.5rem;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
}

#player-one {
    background-color:blue;
}

#player-two {
    background-color: red;
}

.menu {
    width: 60%;
    height: 25%;
    min-width: 20rem;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;
}

#options {
    display: grid;
    justify-content: center;
    justify-items: right;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding:1rem;
}

.input-field {
    height:1.25rem;
    width: 6rem;
    justify-self: left;
    margin-left: 1rem;
}

#start {
    height: 2.5rem;
    width: 8rem;
    font-size: 1.25rem;
    background-color:cadetblue;
    display:flex;
    align-items: center;
    justify-content: center;
}